<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eegeo.apisamples">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        tools:ignore="GoogleAppIndexingWarning,AllowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.eegeo.apisamples.MainActivity"
            android:label="@string/app_short_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BasicMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/basic_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PositionViewOnMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/position_view_on_map_example_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity" />
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PositionCodeCreatedViewOnMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/position_code_created_view_on_map_example_label" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity" />
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MoveCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/move_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AnimateCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/animate_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.FrameCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/framing_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MoveCameraToIndoorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/move_camera_to_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AnimateCameraToIndoorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/animate_camera_to_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.QueryCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/query_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PickingCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/picking_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.ExitIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/exit_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.NameIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MoveIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/move_floor_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.UXIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ux_floor_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddMarkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_marker_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerCustomIconActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_custom_icon_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerWithElevationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_with_elevation_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerWithAbsoluteAltitudeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_with_absolute_altitude_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddIndoorMarkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_indoor_marker_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_text_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_location_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerTappedNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_tapped_notification_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeDrawOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_draw_order_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolygonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polygon_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolygonIndoorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polygon_indoors_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolygonWithHolesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polygon_with_holes_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolygonWithElevationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polygon_with_elevation_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolylineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polyline_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddPolylineIndoorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_polyline_indoors_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_location_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeBearingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_bearing_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeElevationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_elevation_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereIndoorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_indoors_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddBuildingHighlightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_building_highlight_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.RemoveBuildingHighlightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/remove_building_highlight_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PlaceObjectsOnBuildingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/place_objects_on_buildings_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PickingBuildingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/picking_buildings_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.QueryBuildingInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/query_building_information_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.StreamingCompleteNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/streaming_complete_notification_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.EegeoMapOptionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/map_options_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.SearchExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/search_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.CancelSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cancel_search_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.LoadMapsceneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/load_mapscene_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.OutdoorRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/route_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.IndoorRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/indoor_route_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.MultipartRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/multipart_route_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.CancelRoutingQueryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cancel_route_query_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.RouteViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/route_view_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.RouteViewStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/route_view_style_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.RouteViewMarkersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/route_view_markers_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.FindPointOnPathActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/find_point_on_path_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        
        <activity
            android:name="com.eegeo.apisamples.PrecachingMapDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/precaching_map_data_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.FindPointOnRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/find_point_on_route_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.CancelPrecachingMapDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cancel_precaching_map_data_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        
        <activity
            android:name="com.eegeo.apisamples.SetThemeManifestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/set_theme_manifest_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.HighlightIndoorEntityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/highlight_indoor_entities_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.GetInteriorHighlightsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/get_interior_highlights_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

        <activity
            android:name="com.eegeo.apisamples.QueryIndoorEntityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/query_indoor_entities_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

    </application>

</manifest>
