<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eegeo.apisamples">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        tools:ignore="GoogleAppIndexingWarning,AllowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.eegeo.apisamples.MainActivity"
            android:label="@string/app_short_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BasicMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/basic_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MoveCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/move_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AnimateCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/animate_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.FrameCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/framing_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.QueryCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/query_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.PickingCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/picking_camera_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.ExitIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/exit_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.NameIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MoveIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/move_floor_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.UXIndoorExampleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ux_floor_indoor_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddMarkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_marker_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerCustomIconActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_custom_icon_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerWithElevationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_with_elevation_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerWithAbsoluteAltitudeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_with_absolute_altitude_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.AddIndoorMarkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_indoor_marker_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_text_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_location_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerTappedNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_tapped_notification_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.MarkerChangeDrawOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/marker_change_draw_order_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeLocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_location_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeBearingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_bearing_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereChangeElevationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_change_elevation_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.BlueSphereIndoorsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bluesphere_indoors_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.StreamingCompleteNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/streaming_complete_notification_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>
        <activity
            android:name="com.eegeo.apisamples.EegeoMapOptionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/map_options_example_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eegeo.apisamples.MainActivity"/>
        </activity>

    </application>

</manifest>